.catalogue-main1 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   /* 5 колонок в строке */
   gap: 10px;
   padding: 10px;
}

#weight {
   margin-block-start: 2em;
   margin-block-end: 0em;
}

.catalogue-main1 .static {
   position: sticky;
   top: 0;
   align-self: start;
   height: 100vh;
   background-color: #f4f4f4;
   padding: 10px;
   text-align: left;
   box-sizing: border-box;
   /* Фиксирует высоту static колонки для всех строк */
}

.catalogue-main1 .column {
   border-radius: 10px;
   height: auto;
   background-color: #f4f4f4;
   padding: 10px;
   box-sizing: border-box;
}

.catalogue-main1 .column .content {
   text-align: left;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}

/* @media (max-width: 1200px) {
   .catalogue-main1 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* На более узких экранах 
   }
}*/

@media (max-width: 900px) {
   .catalogue-main1 {
      grid-template-columns: 1fr 1fr 1fr;
      /* Еще более узкие экраны */
   }
}

@media (max-width: 600px) {
   .catalogue-main1 {
      grid-template-columns: 1fr 1fr;
      /* На маленьких экранах */
   }
}

*/:hover span,
input {
   cursor: pointer;
}

label {
   font-family: boba;
   font-size: calc(14px + 3 * (100vw / 1280));
   font-weight: 600;
}

#static {
   background-color: rgba(0, 255, 255, 0);
}

.checkbox *,
.checkbox::after,
.checkbox::before {
   box-sizing: border-box;
}

.checkbox {
   position: relative;
   display: block;
   overflow: hidden;
}

.checkbox .check {
   width: 50px;
   height: 50px;
   position: absolute;
   opacity: 0;
}

.checkbox .label svg {
   vertical-align: middle;
}

.checkbox .path1 {
   stroke-dasharray: 400;
   stroke-dashoffset: 400;
   transition: .4s all;
}

.checkbox .check:checked+label svg g path {
   stroke-dashoffset: 0;
}

/* Дополнительные стили для текста */
.checkbox .label {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.checkbox .label span {
   margin-left: 10px;
   color: #000;
}

.catalogue-main1 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   /* 5 колонок в строке */
   gap: 10px;
   padding: 10px;
}

#weight {
   margin-block-start: 2em;
   margin-block-end: 0em;
}

.catalogue-main1 .static {
   position: sticky;
   top: 0;
   align-self: start;
   height: 100vh;
   background-color: #f4f4f4;
   padding: 10px;
   text-align: left;
   box-sizing: border-box;
   /* Фиксирует высоту static колонки для всех строк */
}

.catalogue-main1 .column {
   border-radius: 10px;
   height: auto;
   background-color: #f4f4f4;
   padding: 10px;
   box-sizing: border-box;
}

.buka {
   display: none;
}

.catalogue-main1 .column .content {
   text-align: left;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}

@media (max-width: 1200px) {
   .catalogue-main1 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* Убираем одну колонку на более узких экранах */
   }

}

@media (max-width: 1100px) {
   .buka {
      padding-top: 20px;
      display: flex;
      width: 100%;
   }

   .buka button {
      border-radius: 40px;
      border: 3.5px solid #0000005f;
      color: #000000;
      background-color: rgba(0, 255, 255, 0);
      width: 100%;
   }

   .catalogue-main1 {
      grid-template-columns: 1fr 1fr 1fr;
      /* Убираем еще одну колонку на экранах до 900px */
   }

   #static {
      display: none;
      /* Скрываем static на экранах до 900px */
   }
}

@media (max-width: 800px) {
   .catalogue-main1 {
      grid-template-columns: 1fr 1fr;
      /* Уменьшаем количество колонок до двух на маленьких экранах */
   }

}

@media (max-width: 550px) {
   .catalogue-main1 {
      grid-template-columns: 1fr;
      /* Одна колонка на самых маленьких экранах */
   }

}

label {
   font-family: boba;
   font-size: calc(16px + 3 * (100vw / 1280));
   font-weight: 600;
}


#imagef {
   border-radius: 15px;
   width: 100%;
   height: 220px;
   background: url(./img/sets/harbin.png);
   background-size: cover;
}

@media (max-width: 1100px) {}