.catalogue {
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 10px;
}

.buka {
   display: none;
}

#weight {
   margin-block-start: 2em;
   margin-block-end: 0em;
}

.right {
   display: block;
}

.left {
   gap: 15px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   top: 0;
   align-self: start;
   padding: 10px;
   text-align: left;
   box-sizing: border-box;
}

.catalogue .column {
   border-radius: 10px;
   height: auto;
   background-color: #f4f4f4;
   padding: 10px;
   box-sizing: border-box;
}

.catalogue .column .content {
   text-align: left;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}


@media (max-width: 1466px) {
   .right {
      display: none;
   }

   .catalogue {
      display: block;
      gap: 10px;
   }

   .buka {
      padding-top: 20px;
      display: flex;
      width: 100%;
   }

   .buka button {
      border-radius: 40px;
      border: 3.5px solid #0000005f;
      color: #000000;
      background-color: rgba(0, 255, 255, 0);
      width: 100%;
   }

}

@media (max-width: 1050px) {

   .right {
      display: none;
   }

   .left {
      gap: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      top: 0;
      align-self: start;
      padding: 10px;
      text-align: left;
      box-sizing: border-box;
   }

   .catalogue {
      display: block;
      gap: 10px;
   }

   .buka {
      padding-top: 20px;
      display: flex;
      width: 100%;
   }

   .buka button {
      border-radius: 40px;
      border: 3.5px solid #0000005f;
      color: #000000;
      background-color: rgba(0, 255, 255, 0);
      width: 100%;
   }
}

@media (max-width: 850px) {

   .right {
      display: none;
   }

   .left {
      gap: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      top: 0;
      align-self: start;
      padding: 10px;
      text-align: left;
      box-sizing: border-box;
   }
#imagef {
   border-radius: 15px;
   width: 100%;
   height: 330px;
   background-size: cover;
}
   .catalogue {
      display: block;
      gap: 10px;
   }

   .buka {
      padding-top: 20px;
      display: flex;
      width: 100%;
   }

   .buka button {
      border-radius: 40px;
      border: 3.5px solid #0000005f;
      color: #000000;
      background-color: rgba(0, 255, 255, 0);
      width: 100%;
   }
}

@media (max-width: 550px) {
   .right {
      display: none;
   }

   .left {
      gap: 15px;
      display: grid;
      grid-template-columns: 1fr;
      top: 0;
      align-self: start;
      padding: 10px;
      text-align: left;
      box-sizing: border-box;
   }

   .catalogue {
      display: block;
      gap: 10px;
   }

   .buka {
      padding-top: 20px;
      display: flex;
      width: 100%;
   }

   .buka button {
      border-radius: 40px;
      border: 3.5px solid #0000005f;
      color: #000000;
      background-color: rgba(0, 255, 255, 0);
      width: 100%;
   }

}

:hover span,
input {
   cursor: pointer;
}

label {
   font-family: boba;
   font-size: calc(14px + 3 * (100vw / 1280));
   font-weight: 600;
}

#static {
   background-color: rgba(0, 255, 255, 0);
}

.checkbox *,
.checkbox::after,
.checkbox::before {
   box-sizing: border-box;
}

.checkbox {
   position: relative;
   display: block;
   overflow: hidden;
}

.checkbox .check {
   width: 50px;
   height: 50px;
   position: absolute;
   opacity: 0;
}

.checkbox .label svg {
   vertical-align: middle;
}

.checkbox .path1 {
   stroke-dasharray: 400;
   stroke-dashoffset: 400;
   transition: .4s all;
}

.checkbox .check:checked+label svg g path {
   stroke-dashoffset: 0;
}

.checkbox .label {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.checkbox .label span {
   margin-left: 10px;
   color: #000;
}


.catalogue-main1 .static {
   position: sticky;
   top: 0;
   align-self: start;
   height: 100vh;
   background-color: #f4f4f4;
   padding: 10px;
   text-align: left;
   box-sizing: border-box;
}

.catalogue-main1 .column {
   border-radius: 10px;
   height: auto;
   background-color: #f4f4f4;
   padding: 10px;
   box-sizing: border-box;
}


.catalogue-main1 .column .content {
   text-align: left;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}


label {
   font-family: boba;
   font-size: calc(16px + 3 * (100vw / 1280));
   font-weight: 600;
}


#imagef {
   border-radius: 15px;
   width: 100%;
   height: 220px;
   background-size: cover;
}