@font-face {
	font-family: biba;
	src: url('./font/Han\ Zi.ttf');
}

@font-face {
	font-family: boba;
	src: url('./font/Montserrat-Regular.ttf');
}

h1 {
	font-family: 'biba';
	font-size: calc(30px + 3 * (100vw / 1280));
}

h2 {
	font-family: 'biba';
	font-size: calc(20px + 3 * (100vw / 1280));
	font-weight: 400;
}

h3 {
	font-family: 'boba';
	font-size: calc(14px + 3 * (100vw / 1280));
}

h4,
a {
	font-family: 'boba';
	font-size: calc(20px + 3 * (100vw / 1280));
	font-weight: 500;
}

/* 
.archieve h2 {
	margin-block-start: 0.83em;
	margin-block-end: 0em;
}

.archieve {
	text-transform: uppercase;
		display: flex;
		/* width: 100%; 
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
}

.archieve-part {
	width: 400px;
	display: flex;
	flex-direction: column;
}

.archieve-part img {
	height: 150px;
} */

#be {
	max-width: 100%;
	/* Ограничивает ширину изображения размером родительского контейнера */
	height: auto;
	/* Автоматически подстраивает высоту, сохраняя пропорции изображения */
	display: block;
	/* Убирает лишние отступы под изображением */
	margin: 0 auto;
	/* Центрирует изображение по горизонтали */
}

p {
	text-transform: uppercase;
	font-family: 'boba';
	font-size: calc(14px + 3 * (100vw / 1280));
	font-weight: 800;
	margin-block-start: 1em;
	margin-block-end: -1em;
}

a {
	color: inherit;
	/* Наследует цвет текста от родителя */
	text-decoration: none;
	/* Убирает подчеркивание */
	cursor: pointer;
	/* Устанавливает курсор по умолчанию (не указывает, что это ссылка) */
}

a:hover,
a:focus,
a:active {
	color: inherit;
	/* Убирает эффект при наведении, фокусе и нажатии */
	text-decoration: none;
}

/* .linkie {
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
} */

#navigation {
	display: flex;
	gap: 10px;
}

#navigation h3 {
	cursor: pointer;
}

.placeandtime1 {
	text-align: center;
}

.placeandtime {
	background: url(./img/backie.png);
	margin-top: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 20px;
}

#bebra {
	width: auto;
}

:hover #bebra {
	cursor: pointer;
}

.menu-active,
.filterr-active {
	transition: all 0.3s;
	background: url('./img/texture.png');
	background-size: cover;
	background-color: rgba(255, 228, 196, 0.744);
	left: 0;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding-left: 30px;
}

aside {
	position: fixed;
	left: -270px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	top: 68px;
	margin: 0;
	transition: all 0.3s;
	z-index: 99;
	color: #000000;
	width: 270px;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px;
}

.header2 button,
#header1-nav2 button {
	border: none;
	background-color: transparent;
	color: #000000;
}

/* #dragon{
	position: absolute;
	z-index: 70;
	width: 20vw;
	margin-left: 50%;
	margin-bottom: 90px;
} */

header {
	margin-top: 15px;
}

header div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.header2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: top 0.3s;
	z-index: 1000;
	/* Чтобы шапка была над другими элементами */
}

header div nav {
	display: flex;
	gap: 11px;
	padding: 1px;
	border: 3.5px solid #00000069;
	border-radius: 40px;
	justify-content: center;
	margin-top: -6px;
}

#header1-nav1 {
	min-width: 420px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items: center;
}

#header1-nav2 {
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items: stretch;
}

body {
	overflow-x: hidden;
	margin: 0;
	background-color: #f5e3c4;
}

body::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

#background {
	opacity: 70%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: url('./img/texture.png');
	background-size: cover;
}

#header1-nav1 h3,
#header1-nav2 h3 {
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

#header1-nav1 h3::after,
#header1-nav2 h3::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.397);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

#header1-nav1 h3:hover::after,
#header1-nav2 h3:hover::after {
	transform: scaleX(1);
	transform-origin: center;
}

.header2 {
	background: url('./img/texture.png');
	background-size: cover;
}

#fonth3 {
	font-family: biba;
}

footer h3,
button {
	cursor: pointer;
}

footer {
	background: url('./img/backie.png');
	width: 100%;
}

footer h2 {
	margin-block-start: -0.17em;
	margin-block-end: 0.00em;
}

footer main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

footer main img {
	width: 263px;
	height: 62px;
}

footer main .column {
	width: 300px;
	flex: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.catalogue-main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	padding: 10px;
}

.shorter h1 {
	margin-block-start: 0.17em;
}

.catalogue-main .column {
	border-radius: 10px;
	height: auto;
	background-color: #f4f4f4;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

.catalogue-main .column .content {
	/* gap: 5px; */
	text-align: left;
	display: flex;
	flex-direction: column;
	height: 100%;
	/* Устанавливаем высоту .content равной высоте родителя */
	justify-content: space-between;
	/* Распределяем пространство между элементами */
}

#image1 {
	border-radius: 15px;
	width: 100%;
	height: 225px;
	background: url(./img/sets/harbin.png);
	background-size: cover;
}

#image2 {
	border-radius: 15px;
	width: 100%;
	height: 225px;
	background: url(./img/sets/dalan.png);
	background-size: cover;
}

#image3 {
	border-radius: 15px;
	width: 100%;
	height: 225px;
	background: url(./img/sets/pekin.png);
	background-size: cover;
}

#image4 {
	border-radius: 15px;
	width: 100%;
	height: 225px;
	background: url(./img/sets/shanhai.png);
	background-size: cover;
}

#image5 {
	border-radius: 15px;
	width: 100%;
	height: 225px;
	background: url(./img/sets/cindao.png);
	background-size: cover;
}

.catalogue-main .column h3 {
	margin-block-end: 0em;
	padding-bottom: 5px;
}

.column_buy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	/* Размещаем элемент внизу .content */
}

.column_buy h4#coast {
	margin: 0;
}

.column_buy button {
	border: none;
	background-color: transparent;
	color: #000000;
}

@media (max-width: 609px) {
	#image1 {
		border-radius: 15px;
		width: 100%;
		height: 50px;
		background: url(./img/sets/harbin.png);
		background-size: cover;
	}
.btn{
	background-color: #9b9b9b;
}
	#image2 {
		border-radius: 15px;
		width: 100%;
		height: 50px;
		background: url(./img/sets/dalan.png);
		background-size: cover;
	}

	#image3 {
		border-radius: 15px;
		width: 100%;
		height: 50px;
		background: url(./img/sets/pekin.png);
		background-size: cover;
	}

	#image4 {
		border-radius: 15px;
		width: 100%;
		height: 50px;
		background: url(./img/sets/shanhai.png);
		background-size: cover;
	}

	#image5 {
		border-radius: 15px;
		width: 100%;
		height: 50px;
		background: url(./img/sets/cindao.png);
		background-size: cover;
	}
}

button {
	transition: transform 2s;
}

button:active {
	transition: 99;
}

footer button {
	border: none;
	background-color: transparent;
	color: #000000;
}

#shorter {
	margin-left: 35px;
	text-align: left;
	width: 100%;
}

@media (max-width: 600px) {
	#shorter {
		margin-top: -3px;
		width: 100%;
		margin-left: 0px;
		text-align: center;
		width: 100%;
	}

	#shorter br {
		display: none;
	}
}

#buty {
	width: 30px;
	height: auto;
}

#gog {
	display: flex;
}

footer h3 {
	margin: 5px 0;
	font-family: 'boba';
}

main {
	margin-left: 96px;
	margin-right: 96px;
}

@media (min-width: 1600px) {

	footer main,
	main {
		width: 1403px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
}

@media (max-width: 1395px) {
	main {
		margin-left: 40px;
		margin-right: 40px;
	}
}

#wof {
	max-height: 10px;
}

#header1-nav1,
#header1-nav2 {
	height: 50px;
}

#header1-nav2 {
	color: #9b9b9b;
}

@media (max-width: 1467px) {
	.header2 {
		display: flex;
	}

	.header1 {
		display: none;
	}
}

@media (min-width: 1467px) {
	.header2 {
		display: none;
	}

	.header1 {
		display: block;
	}
}

.header2 {
	padding-bottom: 7px;
	padding-top: 5px;
	width: 99%;
	padding-right: 5px;
	margin-left: 0;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: bisque;
	align-items: center;
	margin-top: 0px;
}

@media (max-width: 500px) {
	#bebra {
		display: none;
	}

	main {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: 696px) and (max-width: 1100px) {
	footer main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
	}

	footer main .column {
		margin-bottom: 0;
	}
}

@media (max-width: 550px) {
	footer main {
		flex-direction: column;
	}

	footer main .column {
		width: 100%;
		margin-bottom: 10px;
	}
}